* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
    width: 100%
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
    width: 100%;
    /* background: #ff87cf; */
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 0px;
}

.main-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    height: 100px;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.9;
    font-weight: 200;
    margin-top: 0px;
    margin-left: 0px;
}

.position-base {
    position: absolute;
    z-index: 10;
    /* opacity: 0.6; */
}

.loading-bar-container {
    position: absolute;
    width: 500px;
}

.button-container {
    position: absolute;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#reset-camera {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    opacity: 0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    z-index: 11;
  }

#loading-background {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    opacity: 1;
 	transition: 1s opacity;
}

#loading-background.fade-out {
    opacity: 0;
}

#loading-background.fade-in {
    opacity: 1;
}

#loading-video {
    position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loading {
    position: absolute;
	z-index: 12;
 	transition: 1s opacity;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}

#loading-bar {
	width: 445px;
	height: 40px;
	opacity: 1;
 	transition: 1s opacity; 
    flex:3
}

#loading-button {
    flex: 1;
    width: 115px;
	height: 40px;
}

#button-text {
    color: #ffffff;
    padding: 10px;
}

#ending-scene {
    position: absolute;
	z-index: 12;
 	transition: 1s opacity;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-wrap: wrap;
}

#to-beginning {
    width: 150px;
	height: 40px;
    flex:1
}

#to-beginning-text {
    color: #ffffff;
    padding: 10px;
}

#to-website {
    flex: 1;
    width: 150px;
	height: 40px;
    margin-left: 20px;
}

#to-website-text {
    color: #313E53;
    padding-top: 10px;
    padding-left: 28px;
}

/* 참고사이트
https://velog.io/@commi1106/%ED%95%B4%EC%83%81%EB%8F%84%EC%97%90-%EB%94%B0%EB%9D%BC-%EB%8B%AC%EB%9D%BC%EC%A7%80%EB%8A%94-%EC%BA%94%EB%B2%84%EC%8A%A4-%EB%A7%8C%EB%93%A4%EA%B8%B0 */

/* @media screen and (max-device-width: 320px){
    .main-title {
        margin-left: 5px;
        font-size: 10px;
        width: 190px;
    }
    .main-body {
        margin-top: 23px;
        margin-left: 5px;
        font-size: 7px;
        width: 190px;
    }
} */

@media screen and (min-width : 550px) and (max-width : 767px) {
    .main-title {
        margin-left: 5px;
        font-size: 10px;
        width: 190px;
    }
    .main-body {
        margin-top: 23px;
        margin-left: 5px;
        font-size: 7px;
        width: 190px;
    }
}

@media screen and (min-width : 768px) and (max-width : 1365px) {
    .main-title {
        margin-left: 5px;
        font-size: 12px;
        width: 250px;
    }
    .main-body {
        margin-top: 15px;
        margin-left: 5px;
        font-size: 9.5px;
        width: 250px;
    }
}

@media screen and (min-width : 1366px) and (max-width : 1600px) {
    /* .main-title {
        margin-left: 5px;
        font-size: 12px;
        width: 250px;
    }
    .main-body {
        margin-top: 15px;
        margin-left: 5px;
        font-size: 9.5px;
        width: 250px;
    } */
}

@media screen and (min-width : 1601px) {
    .main-title {
        margin-left: 5px;
        font-size: 28px;
        width: 450px;
    }
    .main-body {
        margin-top: 40px;
        margin-left: 0px;
        font-size: 16px;
        width: 450px;
        height: 200px;
        font-weight: 100;
    }
}

/*# sourceMappingURL=main.css.map*/